.mt{
    margin-top: 4px;
}
.container{
   
        background-color: white;
        border-radius: 10px;
        padding-top: 10px;
        transform: translateY(15px);
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        padding: 10px;
    
}
.table{
    color: black;
}
body{
    background-color:white;
}
.box-c{
    background-color: rgb(252 252 252);
}
.u-h1 h1:after {
    background: linear-gradient( #247ce2 0%,#2f20fa 0%, #06ccfd 100%);
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 10px auto;
}

.fav-i{

    color: white;
    list-style: none;
    text-decoration: none;
}
.fav-i a{
    padding: 10px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
.fav-i a:hover{
    color: grey;
}
.navm{
   margin-bottom: 10px;
}
.cont-m{
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.conten{
    
  
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.zoom{
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
}
.zoom1{
    margin-top: 10px;
    text-align: left;
}

.hed{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 7px;
}

.conten h2:after {
    background: linear-gradient( #247ce2 0%,#2f20fa 0%, #06ccfd 100%);
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 10px auto;
}
.hed-slidebar{
    padding-top: 4px;
    margin-bottom: 17px;
}
.left-f{
    padding: 0px;
    margin: -9px;
   
}
.un-line{
    text-decoration: none;
    
}
.left-f:hover{
    background-color: rgb(238, 237, 237);
}
.list-s{
    list-style: symbols(1);
}

.p1-p{
    padding: 4px 7px;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;

}
.list-st{
    list-style: none;
}
.pad-pr{
    padding: 10px;
}
.table-responsive {
    overflow-x: auto;
    width: 100%;
    display: block;
    margin-bottom: 28px;
    box-shadow: 0 0 0 1px #d3dce6;
    border-radius: 4px;
    background-color: #f8faff;
}
table {
    width: 100%;
    border-collapse: collapse;
    white-space: pre-wrap;
    background-color: #f8faff;
    border: none;
    margin-bottom: 24px;
}
table th {
    font-weight: normal;
    text-align: left;
}
table td, table th {
    padding: 12px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    min-width: 100px;
}
th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}
tbody {
    border-top: 1px solid #ccc;
}
td a {
    outline: none;
    color: #0556f3;
    text-decoration: none;
    transition: color 0.2s;
}
pre {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #d3dce6;
    background-color: #f5f5f5;
    overflow: auto;
    font-family: "Droid Sans Mono","Inconsolata","Menlo","Consolas","Bitstream Vera Sans Mono","Courier",monospace;
    font-size: 14px;
    line-height: 20px;
}
.img-p{
    padding: 10px;
}
.tabal-b{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.img-c{
    justify-content: center;

}
.color-b{
    color: black;
}
.btn-s{
    display: block;
    width: 140px;
    margin-top:7px ;
}
.hed-m{
    margin-bottom: 10px;
}
.btn-m{
    margin: 5px;
    margin-bottom: 20px;
}
.pre-f{
    float: left;
}
.cont-f{
    float: left;
}
.span-b{
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(197 255 255);
    padding: 4px;
}

.img-b{
    margin-bottom: 10px;
}
.btn-r{
    float: right;
}
.col-b{
    padding: 5px;
    border: 2px solid blue;
    border-radius: 9px;
}
.col-b p{
  padding: 10px;
}
.pre-bl{
    border-left: 3px solid rgb(8, 250, 61);
}
  
.co-w{
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}
.tabal-c{
    text-align: center;

}
.cont-cp{
    background-color: #fcf9f9;
   border: 2px solid rgb(255 206 206);
    padding: 10px;
}
.float-l{
   text-align: left;
    display: block;
}
.bg-c{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    transform:translateY(15px);
	box-shadow:0 0 20px rgba(0,0,0,0.3);   
 
}
/*slidebar*/
.sidebar-menu-sub {
    margin-bottom: 00px;
    background-color: #baddff;
    border: 1px #006BD7 groove;
}
.ul-slide {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar-menu-sub ul li a {
    display: block;
    padding: 2px 10px;
    border: 1px solid #f1f1f1;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
}
.a-slide {
    transition: all 0.3s ease 0s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    text-decoration: none;
    color: #333;
    font-size: 13px;
}
.a-slide {
    background-color: transparent;
}
.li-slide:hover{
    background-color: #54c3e6;
}
.a-slide:hover{
    color: #333;
}
.slide-m{
    margin-top: 7px;
    padding-bottom: 20px;
}
/*
.conten h2:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 50%), 0 1px 1px rgb(255 255 255 / 30%);
    background: #eb5632;
    background-image: linear-gradient(to top,#ec6a33 0,#e93f33 100%);
    background-image: linear-gradient(to top,#e93f33,#ea4b32,#eb5632,#ec6032,#ec6a33);
}
*/
.a-btn{
    color: blue;
    text-decoration: none;
}
.a-btn:hover{
  color: rgb(255, 230, 0);
}
/* blog */
.headi{
    justify-content: center;
  
    text-align: center;
    border: 2px solid gray;
    transform:translateY(0px);
	box-shadow:0 0 20px rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 7px;
  
}
.headi-h2{
    margin: auto;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
}
.post{
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    transform:translateY(10px);
	box-shadow:0 0 20px rgba(0,0,0,0.3);   
    padding: 10px;
    border: 1px solid rgb(221, 130, 130);
}
.post6{
    padding-bottom: 10px;
}
.footer-p{
    padding: 10px;
}
.footer-pt{
    padding-bottom: 10px;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
}
.footer-ptt{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.btn-mt{
    margin: 10px;
    margin-top: 0px;
}
.dev{
    padding: 50px;

    margin: 5px;
    margin-top: 20px;
    transform:translateY(10px);
	box-shadow:0 0 20px rgb(157 150 150 / 30%);
    border-radius: 20px;
}
.dev a{
    text-decoration: none;
    border-radius: 10px;
}

.fa{
    font-size: 25px;   
    padding: 10px;
}
.fa-instagram{
    color: rgb(247, 21, 160);
}
.fa-linkedin{
    color: blue;
}
.fa-envelope{
    color: rgb(27, 180, 240);
}
.fa-fecebook{
    color: blue;
}
.fa:hover{
    color: rgb(3, 3, 99);
}
.h3-ul{
    border-bottom: 1px solid blue;
}
.hedi-h1::after{
    background: linear-gradient( #247ce2 0%,#2f20fa 0%, #06ccfd 100%);
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    margin: 10px auto;
}
.descri{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 25px;
}
.links{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.links a{
    text-decoration: none;
}
.home-li{
    padding: 10px 40px;
    padding-top: 0px;
    color: rgb(255, 0, 170);
}
.tut{
    padding: 10px 40px;
    padding-top: 0px;
    color: blue;
}
.blog-li{
    padding: 10px 40px;
    padding-top: 0px;
    color: crimson;
}
.bg-devc{
    background-color: white;
}
.bg-devc:hover{
    background-color: rgb(242, 255, 255);

}
.a-mail{
    text-decoration: none;
    color: black;
    padding-top: 10px;
}
.fa-mail{
    display: flex;

}
.aa-mail{
    display: flex;
    text-decoration:none;
}
.ro-fl{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-co{
    padding: 30px;
    margin: 20px;
}
.contact{
    border: 2px solid blue;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}
.ro-fll{
    display: flex;
    flex-direction: row;
}
.h5-privacy{
    padding-top: 7px;
}
.p-privacy{
    padding-bottom: 20px;
}
.hedi-h6{
    padding-top: 10px;
}
.hedi-ult{
    border-top: 1px solid black;
    padding-top: 5px;
}
.img-intro{
    padding: 20px;
  
}
.buy-book{
    color: red;
}
.dev{
    margin-bottom: 20px;
}